<%= form_for(@product) do |f| %>
  <%= f.text_field :asin %>
  <%= submit_tag("Find") %>
<% end %>

<table>
  <tr>
    <th>
      ASIN
    </th>
    <th>
      Best Sellers Rank
    </th>
    <th>
      Dimensions
    </th>
  </tr>
  <% @products.each do |product| %>
  <tr>
    <td valign="top">
      <%= product.asin %>
    </td>
    <td valign="top">
      <ul>
      <% product.grouped_category_sets.each do |set, categories| %>
        <li>
          <b>#<%= categories.last.rank.to_i %></b>
          in
          <% categories.each_with_index do |category, i| %>
            <% if i > 0 %> > <% end %>
            <%= category.name %>
          <% end %>
        </li>
      <% end %>
      </ul>
    </td>
    <td valign="top">
      <%= dimensions(product) %>
    </td>
  </tr>
  <% end %>
</table>
