<!DOCTYPE html>
<html>
  <head>
    <title>AmazonProduct</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main role="main" class="container">
      <%= yield %>
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Amazon Fetcher.</span>
      </div>
    </footer>
  </body>
</html>
