<!DOCTYPE html>
<html>
  <head>
    <title>Amazon Product Fetcher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">

          <div class="flashes">
            <% if notice %>
              <p class="alert alert-success"><%= notice %></p>
            <% end %>
            <% if alert %>
              <p class="alert alert-danger"><%= alert %></p>
            <% end %>
          </div>

        </div>
      </div>
      <%= yield %>
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Amazon Fetcher.</span>
      </div>
    </footer>
  </body>
</html>
